html{
    background-color: #EF7C8E;
}
body{
    width: 50%;
    margin:0 auto;
}
Header
{
    text-align: centre;
    background-color: #EF7C8E;
}
h1{
    background-color: #EF7C8E;
    color:#FAE8E0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    margin: 10% 0;
}


  
.my-input.form-control:focus {
    border-color: #EF7C8E !important;
    /* Other custom styles */
  }
  
  